.today_wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 2rem;
    width: 375px;
    justify-content: center;
}
.today_wrapper input {
    border: none;
    width: 80%;
    height: 3rem;
    padding-left: 1rem;
    border-bottom: .1rem solid #eee;
}

.today_wrapper button {
    border: none;
    background: none;
}